/****************************************************/
/*********** HEADER ***********/
/****************************************************/
.header {
  font-family: "Segoe UI";
  background-color: #bebebe;

  p {
    padding-left: 2em;
    color: #171717;
  }
}

/****************************************************/
/****************************/
/****************************************************/

/****************************************************/
/*********** JUMBOTRON ***********/
/****************************************************/
.jumbotron {
  background-color: #3a3a3a;
  color: blanchedalmond;
  font-family: "Segoe UI";
  padding: 1.5em;
}