/****************************************************/
/********** DEFINITIONS **********/
/****************************************************/

//div{
//  width: 100%;
//  border: solid 2px black;
//  padding: 2px;
//  margin-bottom: 1.1em;
//}
//h1, h2, h3, h4, h5, h6{
//  font-size: 1.6em;
//  color: black;
//  font-weight: bold;
//  font-family: "Segoe UI";
//}

@mixin small() {
  color: grey;
  font-size: 0.8em;
}

@mixin square() {
  text-decoration: none;
  list-style: square;
}

/* Alignement du texte */
@mixin textAlign($align) {
  text-align: $align;
}

/* Transformation du texte */
@mixin textTransform($transform) {
  text-transform: $transform;
}

/* Changer la couleur d'une ligne sur 2 */
@mixin swapColor($color) {
  color: $color;
}

/* Création d'une bordure complète */
@mixin border($borderWidth, $borderStyle, $borderColor) {
  border: $borderWidth $borderStyle $borderColor;
}

/* Modification d'un élément actif (eg: hover) */
@mixin hover {
  color: brown;
  font-size: 1.1em;
}