@import "import";

body {
  padding: 0;
  margin: 0;
  background-color: #E3DEC1;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  background-color: #B94629;
  @include textTransform(uppercase);
  @include textAlign(center);
}

h3, h4, figcaption, option, button, label, a, footer {
  font-family: 'Open Sans', sans-serif;
}

h3 {
  color: #654532;
}

fieldset {
  border-radius: 5px;
}

h4 {
  margin: 0;
  color: #463022;
}

label {
  vertical-align: middle;
}

figcaption, p {
  color: #936444;
}

legend {
  color: #654532;
  @include textTransform(uppercase);
}

button {
  @include textTransform(uppercase);
  @include border(0.2em, solid, #B94629);
  font-weight: bolder;
  background-color: #bcb79e;
  height: 2.5em;
}

@media screen and (min-width: 40.063em) {
  header {
    height: 5em;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: #B94629;

    div:nth-of-type(1) {
      width: 10%;
      display: inline-block;
      height: 5em;
      text-align: center;

      img {
        width: 80px;
        height: auto;
        display: inline-block;
      }
    }

    div:nth-of-type(2) {
      width: 90%;
      display: inline-block;
      height: 5em;
      //text-align: center;
    }

    li {
      display: inline;
      list-style: none;
      margin-left: 18%;
    }
  }

  footer {
    line-height: 2em;
    position: sticky;
    width: 100%;
    height: auto;
    bottom: 0;
    background-color: #B94629;
    @include textAlign(center);
  }

  select {
    @include border(0.2em, solid, #B94629);
  }
}

@media screen and (max-width: 40em) {
  header {
    height: 5em;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: #B94629;

    div:nth-of-type(1) {
      width: 10%;
      display: inline-block;
      height: 5em;
      text-align: center;

      img {
        width: 80px;
        height: auto;
        display: inline-block;
      }
    }

    div:nth-of-type(2) {
      width: 90%;
      display: inline-block;
      height: 5em;
      text-align: center;
      
      img {
        //width: 50px;
        //height: 50px;
      }
    }

    li {
      display: inline;
      list-style: none;
      margin-left: 5%;
    }
  }

  footer {
    display: none;
  }

  select {
    @include border(0.2em, solid, #B94629);
  }
}