@charset "UTF-8";

body {
  padding: 0;
  margin: 0;
  background-color: #E3DEC1; }

h1 {
  font-family: 'Open Sans', sans-serif;
  background-color: #B94629;
  text-transform: uppercase;
  text-align: center; }

h3, h4, figcaption, option, button, label, a, footer {
  font-family: 'Open Sans', sans-serif; }

h3 {
  color: #654532; }

fieldset {
  border-radius: 5px; }

h4 {
  margin: 0;
  color: #463022; }

label {
  vertical-align: middle; }

figcaption, p {
  color: #936444; }

legend {
  color: #654532;
  text-transform: uppercase; }

button {
  text-transform: uppercase;
  border: 0.2em solid #B94629;
  font-weight: bolder;
  background-color: #bcb79e;
  height: 2.5em; }

@media screen and (min-width: 40.063em) {
  header {
    height: 5em;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: #B94629; }
    header div:nth-of-type(1) {
      width: 10%;
      display: inline-block;
      height: 5em;
      text-align: center; }
      header div:nth-of-type(1) img {
        width: 80px;
        height: auto;
        display: inline-block; }
    header div:nth-of-type(2) {
      width: 90%;
      display: inline-block;
      height: 5em; }
    header li {
      display: inline;
      list-style: none;
      margin-left: 18%; }

  footer {
    line-height: 2em;
    position: sticky;
    width: 100%;
    height: auto;
    bottom: 0;
    background-color: #B94629;
    text-align: center; }

  select {
    border: 0.2em solid #B94629; } }
@media screen and (max-width: 40em) {
  header {
    height: 5em;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: #B94629; }
    header div:nth-of-type(1) {
      width: 10%;
      display: inline-block;
      height: 5em;
      text-align: center; }
      header div:nth-of-type(1) img {
        width: 80px;
        height: auto;
        display: inline-block; }
    header div:nth-of-type(2) {
      width: 90%;
      display: inline-block;
      height: 5em;
      text-align: center; }
    header li {
      display: inline;
      list-style: none;
      margin-left: 5%; }

  footer {
    display: none; }

  select {
    border: 0.2em solid #B94629; } }
@media screen and (max-width: 40em) {
  label {
    width: 82.5%;
    margin-left: 9.16667%;
    display: inline-block;
    text-align: center; }

  fieldset {
    width: 82.5%;
    margin-left: 5%;
    display: inline-block; }

  /* On cache les labels du premier fieldset pour ne pas prendre trop de place sur l'écran */
  fieldset:first-of-type label {
    display: none; }

  input {
    width: 82.5%;
    margin-left: 9.16667%;
    display: inline-block;
    margin-top: 0.4em;
    height: 2em; }

  #codePostal {
    width: 35.83333%;
    margin-left: 9.16667%;
    display: inline-block; }

  #codePostalModif {
    width: 82.5%;
    margin-left: 9.16667%;
    display: inline-block;
    margin-top: 0.4em;
    margin-bottom: 0.4em; }

  #inputTitre {
    width: 35.83333%;
    margin-left: 9.16667%;
    display: inline-block; }

  /* Select pour les régions */
  .regions {
    width: 36.66667%;
    margin-left: 9.16667%;
    display: inline-block;
    border: 0.2em solid #B94629;
    height: 2em;
    margin-bottom: 1em; }
    .regions + br {
      display: none; }

  .regionModif {
    width: 82.5%;
    margin-left: 9.16667%;
    display: inline-block;
    border: 0.2em solid #B94629;
    height: 2em;
    margin-top: 0.4em;
    margin-bottom: 0.4em; }

  /* Select pour les catégories */
  #categoriesMobile {
    width: 36.66667%;
    margin-left: 9.16667%;
    display: inline-block;
    border: 0.2em solid #B94629;
    height: 2em;
    margin-top: 1em; }

  /* On cache toute la classe annonceNav */
  .annonceNav {
    display: none; }

  textarea {
    width: 82.5%;
    margin-left: 9.16667%;
    display: inline-block;
    height: 5em; }

  button {
    width: 49.16667%;
    margin-left: 25.83333%;
    display: inline-block; } }
@media screen and (min-width: 40.063em) {
  label {
    width: 12.5%;
    margin-left: 6.25%;
    display: inline-block;
    vertical-align: middle;
    /* On cache tous les <br/> après les labels */ }
    label + br {
      display: none; }

  input {
    width: 18.75%;
    margin-left: 20.625%;
    display: inline-block;
    margin-top: 0.4em;
    height: 2em; }

  /* Select pour les régions */
  .regions {
    width: 18.75%;
    margin-left: 20.625%;
    display: inline-block;
    border: 0.2em solid #B94629;
    height: 2em;
    margin-bottom: 1em; }

  /* Select pour les catégories */
  #categoriesNav {
    width: 19.0625%;
    margin-left: 20.625%;
    display: inline-block;
    border: 0.2em solid #B94629;
    height: 2em;
    margin-top: 2em; }

  /* On cache toute la classe annonceMobile */
  .annonceMobile {
    display: none; }

  textarea {
    width: 31.25%;
    margin-left: 14.375%;
    display: inline-block;
    vertical-align: middle;
    height: 5em; }

  button {
    width: 19.0625%;
    margin-left: 39.375%;
    display: inline-block; }

  fieldset {
    width: 87.5%;
    margin-left: 6.25%;
    display: inline-block; } }
