@charset "UTF-8";

body {
  padding: 0;
  margin: 0;
  background-color: #E3DEC1; }

h1 {
  font-family: 'Open Sans', sans-serif;
  background-color: #B94629;
  text-transform: uppercase;
  text-align: center; }

h3, h4, figcaption, option, button, label, a, footer {
  font-family: 'Open Sans', sans-serif; }

h3 {
  color: #654532; }

fieldset {
  border-radius: 5px; }

h4 {
  margin: 0;
  color: #463022; }

label {
  vertical-align: middle; }

figcaption, p {
  color: #936444; }

legend {
  color: #654532;
  text-transform: uppercase; }

button {
  text-transform: uppercase;
  border: 0.2em solid #B94629;
  font-weight: bolder;
  background-color: #bcb79e;
  height: 2.5em; }

@media screen and (min-width: 40.063em) {
  header {
    height: 5em;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: #B94629; }
    header div:nth-of-type(1) {
      width: 10%;
      display: inline-block;
      height: 5em;
      text-align: center; }
      header div:nth-of-type(1) img {
        width: 80px;
        height: auto;
        display: inline-block; }
    header div:nth-of-type(2) {
      width: 90%;
      display: inline-block;
      height: 5em; }
    header li {
      display: inline;
      list-style: none;
      margin-left: 18%; }

  footer {
    line-height: 2em;
    position: sticky;
    width: 100%;
    height: auto;
    bottom: 0;
    background-color: #B94629;
    text-align: center; }

  select {
    border: 0.2em solid #B94629; } }
@media screen and (max-width: 40em) {
  header {
    height: 5em;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: #B94629; }
    header div:nth-of-type(1) {
      width: 10%;
      display: inline-block;
      height: 5em;
      text-align: center; }
      header div:nth-of-type(1) img {
        width: 80px;
        height: auto;
        display: inline-block; }
    header div:nth-of-type(2) {
      width: 90%;
      display: inline-block;
      height: 5em;
      text-align: center; }
    header li {
      display: inline;
      list-style: none;
      margin-left: 5%; }

  footer {
    display: none; }

  select {
    border: 0.2em solid #B94629; } }
/* Les images des annonces */
figure img {
  max-width: 100%;
  height: auto; }

@media screen and (max-width: 40em) {
  fieldset {
    width: 74.16667%;
    margin-left: 9.16667%;
    display: inline-block;
    border-radius: 0.2em; }

  input {
    width: 82.5%;
    margin-left: 9.16667%;
    display: inline-block;
    margin-top: 0.4em;
    height: 2em; }

  button:first-of-type {
    width: 40.83333%;
    margin-left: 9.16667%;
    display: inline-block;
    display: inline-block; }

  button:last-of-type {
    width: 40.83333%;
    margin-left: 0.83333%;
    display: inline-block;
    display: inline-block; }

  footer {
    display: none; } }
@media screen and (min-width: 40.063em) {
  figure {
    width: 30.625%;
    margin-left: 3.75%;
    display: inline-block; }
    figure img {
      margin-top: 4em;
      max-width: 100%;
      height: auto; }

  article div {
    margin-top: 4em;
    vertical-align: top;
    width: 36.875%;
    margin-left: 3.75%;
    display: inline-block; }
    article div fieldset:nth-of-type(2), article div fieldset:nth-of-type(3) {
      margin-top: 2em; }

  fieldset:last-of-type a:nth-of-type(1) {
    width: 24.375%;
    margin-left: 31.875%;
    display: inline-block; }
    fieldset:last-of-type a:nth-of-type(1) a:nth-of-type(2) {
      width: 24.375%;
      margin-left: 6.875%;
      display: inline-block; } }
