@charset "UTF-8";

body {
  padding: 0;
  margin: 0;
  background-color: #E3DEC1; }

h1 {
  font-family: 'Open Sans', sans-serif;
  background-color: #B94629;
  text-transform: uppercase;
  text-align: center; }

h3, h4, figcaption, option, button, label, a, footer {
  font-family: 'Open Sans', sans-serif; }

h3 {
  color: #654532; }

fieldset {
  border-radius: 5px; }

h4 {
  margin: 0;
  color: #463022; }

label {
  vertical-align: middle; }

figcaption, p {
  color: #936444; }

legend {
  color: #654532;
  text-transform: uppercase; }

button {
  text-transform: uppercase;
  border: 0.2em solid #B94629;
  font-weight: bolder;
  background-color: #bcb79e;
  height: 2.5em; }

@media screen and (min-width: 40.063em) {
  header {
    height: 5em;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: #B94629; }
    header div:nth-of-type(1) {
      width: 10%;
      display: inline-block;
      height: 5em;
      text-align: center; }
      header div:nth-of-type(1) img {
        width: 80px;
        height: auto;
        display: inline-block; }
    header div:nth-of-type(2) {
      width: 90%;
      display: inline-block;
      height: 5em; }
    header li {
      display: inline;
      list-style: none;
      margin-left: 18%; }

  footer {
    line-height: 2em;
    position: sticky;
    width: 100%;
    height: auto;
    bottom: 0;
    background-color: #B94629;
    text-align: center; }

  select {
    border: 0.2em solid #B94629; } }
@media screen and (max-width: 40em) {
  header {
    height: 5em;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: #B94629; }
    header div:nth-of-type(1) {
      width: 10%;
      display: inline-block;
      height: 5em;
      text-align: center; }
      header div:nth-of-type(1) img {
        width: 80px;
        height: auto;
        display: inline-block; }
    header div:nth-of-type(2) {
      width: 90%;
      display: inline-block;
      height: 5em;
      text-align: center; }
    header li {
      display: inline;
      list-style: none;
      margin-left: 5%; }

  footer {
    display: none; }

  select {
    border: 0.2em solid #B94629; } }
@media screen and (max-width: 40em) {
  button {
    width: 49.16667%;
    margin-left: 25.83333%;
    display: inline-block; }

  .annonceNav {
    width: 100%;
    height: 4em;
    border: 0.2em solid #B94629;
    background-color: #b99e7f;
    text-align: center;
    font-size: 1.1em; }
    .annonceNav option {
      background-color: white; } }
@media screen and (min-width: 40.063em) {
  select {
    height: 5em;
    background-color: #b99e7f;
    border: 0.2em solid #B94629;
    margin-top: 4em;
    font-size: 1.0em; }
    select:nth-of-type(1) {
      width: 18.75%;
      margin-left: 25%;
      display: inline-block; }
    select:nth-of-type(2) {
      width: 18.75%;
      margin-left: 12.5%;
      display: inline-block; }
    select:nth-of-type(3) {
      width: 18.75%;
      margin-left: 25%;
      display: inline-block; }
    select:nth-of-type(4) {
      width: 18.75%;
      margin-left: 12.5%;
      display: inline-block; }
    select:nth-of-type(5) {
      width: 18.75%;
      margin-left: 25%;
      display: inline-block; }
    select:nth-of-type(6) {
      width: 18.75%;
      margin-left: 12.5%;
      display: inline-block; }
    select option {
      background-color: white; }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%; } }
