@charset "UTF-8";

body {
  padding: 0;
  margin: 0;
  background-color: #E3DEC1; }

h1 {
  font-family: 'Open Sans', sans-serif;
  background-color: #B94629;
  text-transform: uppercase;
  text-align: center; }

h3, h4, figcaption, option, button, label, a, footer {
  font-family: 'Open Sans', sans-serif; }

h3 {
  color: #654532; }

fieldset {
  border-radius: 5px; }

h4 {
  margin: 0;
  color: #463022; }

label {
  vertical-align: middle; }

figcaption, p {
  color: #936444; }

legend {
  color: #654532;
  text-transform: uppercase; }

button {
  text-transform: uppercase;
  border: 0.2em solid #B94629;
  font-weight: bolder;
  background-color: #bcb79e;
  height: 2.5em; }

@media screen and (min-width: 40.063em) {
  header {
    height: 5em;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: #B94629; }
    header div:nth-of-type(1) {
      width: 10%;
      display: inline-block;
      height: 5em;
      text-align: center; }
      header div:nth-of-type(1) img {
        width: 80px;
        height: auto;
        display: inline-block; }
    header div:nth-of-type(2) {
      width: 90%;
      display: inline-block;
      height: 5em; }
    header li {
      display: inline;
      list-style: none;
      margin-left: 18%; }

  footer {
    line-height: 2em;
    position: sticky;
    width: 100%;
    height: auto;
    bottom: 0;
    background-color: #B94629;
    text-align: center; }

  select {
    border: 0.2em solid #B94629; } }
@media screen and (max-width: 40em) {
  header {
    height: 5em;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: #B94629; }
    header div:nth-of-type(1) {
      width: 10%;
      display: inline-block;
      height: 5em;
      text-align: center; }
      header div:nth-of-type(1) img {
        width: 80px;
        height: auto;
        display: inline-block; }
    header div:nth-of-type(2) {
      width: 90%;
      display: inline-block;
      height: 5em;
      text-align: center; }
    header li {
      display: inline;
      list-style: none;
      margin-left: 5%; }

  footer {
    display: none; }

  select {
    border: 0.2em solid #B94629; } }
/* Les images des annonces */
figure img {
  max-width: 100%;
  height: auto; }

/********** AFFICHAGE VERSION PORTABLE **********/
@media screen and (max-width: 40em) {
  fieldset {
    width: 82.5%;
    margin-left: 5%;
    display: inline-block; }

  .rechercheNav {
    display: none; }

  /* Première section (mobile) : la recherche */
  .rechercheMobile {
    height: 15em;
    overflow: auto;
    /* input : texte de recherche */
    /* input : prix mini */
    /* input : prix maxi */
    /* h3 : 'Prix' */
    /* Bouton de recherche */
    /* Select pour les catégories */
    /* Select pour les régions */ }
    .rechercheMobile input:first-of-type {
      width: 82.5%;
      margin-left: 9.16667%;
      display: inline-block;
      height: 2em;
      margin-top: 1em; }
    .rechercheMobile input:nth-of-type(2) {
      width: 36.66667%;
      margin-left: 9.16667%;
      display: inline-block;
      height: 2em; }
    .rechercheMobile input:nth-of-type(3) {
      width: 34.16667%;
      margin-left: 9.16667%;
      display: inline-block;
      height: 2em; }
    .rechercheMobile h3:first-of-type {
      width: 99.16667%;
      margin-left: 0.83333%;
      display: inline-block;
      text-align: center; }
    .rechercheMobile button {
      width: 82.5%;
      margin-left: 9.16667%;
      display: inline-block;
      margin-top: 0.5em; }
    .rechercheMobile select:first-of-type {
      width: 36.66667%;
      margin-left: 9.16667%;
      display: inline-block;
      border: 0.2em solid #B94629;
      height: 2em;
      margin-top: 1em; }
      .rechercheMobile select:first-of-type + br {
        display: none; }
    .rechercheMobile select:nth-of-type(2) {
      width: 36.66667%;
      margin-left: 9.16667%;
      display: inline-block;
      border: 0.2em solid #B94629;
      height: 2em;
      margin-top: 1em; } }
/********** AFFICHAGE VERSION TABLETTE **********/
@media screen and (min-width: 40.063em) and (max-width: 64em) {
  .rechercheNav {
    display: none; }

  fieldset {
    width: 83%;
    margin-left: 8.66667%;
    display: inline-block; }

  figure img {
    width: 83%;
    margin-left: 8.66667%;
    display: inline-block;
    max-width: 70%;
    height: auto; }

  /* input : texte de recherche */
  input:first-of-type {
    width: 83%;
    margin-left: 8.66667%;
    display: inline-block;
    height: 2.5em;
    margin-top: 1em; }

  /* input : prix mini */
  input:nth-of-type(2) {
    width: 37.16667%;
    margin-left: 8.66667%;
    display: inline-block;
    height: 2.5em; }

  /* input : prix maxi */
  input:nth-of-type(3) {
    width: 35.5%;
    margin-left: 8.66667%;
    display: inline-block;
    height: 2.5em; }

  fieldset {
    width: 83%;
    margin-left: 4.5%;
    display: inline-block; }

  select {
    height: 2.5em;
    margin-top: 2em;
    width: 83%;
    margin-left: 8.66667%;
    display: inline-block; }

  /* h3 : 'Prix' */
  select + h3 {
    width: 99.66667%;
    margin-left: 0.33333%;
    display: inline-block;
    text-align: center; }

  /* Bouton de recherche */
  button {
    height: 2.5em;
    width: 83%;
    margin-left: 8.66667%;
    display: inline-block;
    margin-top: 0.5em; }

  p {
    font-size: 1.1em; } }
/********** AFFICHAGE VERSION NAVIGATEUR **********/
@media screen and (min-width: 64.063em) {
  .rechercheMobile {
    display: none; }

  h4 {
    white-space: nowrap; }

  label {
    width: 24.375%;
    margin-left: 28.75%;
    display: inline-block; }

  fieldset:first-of-type {
    margin-top: 1em;
    width: 55.625%;
    margin-left: 22.5%;
    display: inline-block; }

  fieldset {
    width: 99.375%;
    margin-left: 19.375%;
    display: inline-block; }

  /* Input de recherche */
  input:first-of-type {
    width: 18.125%;
    margin-left: 0.625%;
    display: inline-block; }

  input:nth-of-type(2) {
    width: 18.125%;
    margin-left: 28.75%;
    display: inline-block; }

  input:nth-of-type(3) {
    width: 18.125%;
    margin-left: 5.625%;
    display: inline-block; }

  select {
    margin-top: 2em;
    width: 18.125%;
    margin-left: 0.625%;
    display: inline-block; }

  button {
    width: 18.4375%;
    margin-left: 41.25%;
    display: inline-block; }

  /* h3 : 'Prix' */
  select + h3 {
    width: 99.375%;
    margin-left: 0.625%;
    display: inline-block;
    text-align: center; }

  figure {
    width: 30.625%;
    margin-left: 3.75%;
    display: inline-block; }
    figure img {
      margin-top: 0.5em;
      max-width: 100%;
      height: auto; }

  article div {
    vertical-align: top;
    width: 36.875%;
    margin-left: 3.75%;
    display: inline-block; }

  fieldset:nth-of-type(even) {
    margin-top: 2em; }

  p {
    font-size: 1.1em; } }
