@import "lib/import";
@import "lib/styles";

@media screen and (max-width: 40em) {

  // Variables pour la grille :
  $tailleColPortable: 7.5%;
  $nbColPortable: 12;

  label {
    @include grid($tailleColPortable, $nbColPortable, 10, 1);
    @include textAlign(center);
  }

  fieldset {
    @include grid($tailleColPortable, $nbColPortable, 10, 0.5);
  }
  /* On cache les labels du premier fieldset pour ne pas prendre trop de place sur l'écran */
  fieldset:first-of-type {
    label {
      display: none;
    }
  }

  input {
    @include grid($tailleColPortable, $nbColPortable, 10, 1);
    margin-top: 0.4em;
    height: 2em;
  }

  #codePostal {
    @include grid($tailleColPortable, $nbColPortable, 4.4, 1);
  }

  #codePostalModif {
    @include grid($tailleColPortable, $nbColPortable, 10, 1);
    margin-top: 0.4em;
    margin-bottom: 0.4em;
  }

  #inputTitre {
    @include grid($tailleColPortable, $nbColPortable, 4.4, 1);
  }

  /* Select pour les régions */
  .regions {
    @include grid($tailleColPortable, $nbColPortable, 4.5, 1);
    @include border(0.2em, solid, #B94629);
    height: 2em;
    margin-bottom: 1em;

    + br {
      display: none;
    }
  }

  .regionModif{

  @include grid($tailleColPortable, $nbColPortable, 10, 1);
  @include border(0.2em, solid, #B94629);
  height: 2em;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  }

  /* Select pour les catégories */
  #categoriesMobile {
    @include grid($tailleColPortable, $nbColPortable, 4.5, 1);
    @include border(0.2em, solid, #B94629);
    height: 2em;
    margin-top: 1em;
  }

  /* On cache toute la classe annonceNav */
  .annonceNav {
    display: none;
  }

  textarea {
    @include grid($tailleColPortable, $nbColPortable, 10, 1);
    height: 5em;
  }

  button {
    @include grid($tailleColPortable, $nbColPortable, 6, 3);
  }
}

@media screen and (min-width: 40.063em) {

  $tailleColNav: 6.25%;
  $nbColNav: 16;

  label {
    @include grid($tailleColNav, $nbColNav, 2, 1);
    vertical-align: middle;

    /* On cache tous les <br/> après les labels */
    + br {
      display: none;
    }
  }

  input {
    @include grid($tailleColNav, $nbColNav, 3, 3.3);
    margin-top: 0.4em;
    height: 2em;
  }

  /* Select pour les régions */
  .regions {
    @include grid($tailleColNav, $nbColNav, 3, 3.3);
    @include border(0.2em, solid, #B94629);
    height: 2em;
    margin-bottom: 1em;
  }

  /* Select pour les catégories */
  #categoriesNav {
    @include grid($tailleColNav, $nbColNav, 3.05, 3.3);
    @include border(0.2em, solid, #B94629);
    height: 2em;
    margin-top: 2em;
  }

  /* On cache toute la classe annonceMobile */
  .annonceMobile {
    display: none;
  }

  textarea {
    @include grid($tailleColNav, $nbColNav, 5, 2.3);
    vertical-align: middle;
    height: 5em;
  }

  button {
    @include grid($tailleColNav, $nbColNav, 3.05, 6.3);
  }

  fieldset {
    @include grid($tailleColNav, $nbColNav, 14, 1);
  }
}