@import "lib/import";
@import "lib/styles";

/* Les images des annonces */
figure {
  img {
    max-width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 40em) {

  // Variables pour la grille :
  $tailleColPortable: 7.5%;
  $nbColPortable: 12;

  fieldset {
    @include grid($tailleColPortable, $nbColPortable, 9, 1);
    border-radius: 0.2em;
    label {
      //display: none;
    }
  }

  input {
    @include grid($tailleColPortable, $nbColPortable, 10, 1);
    margin-top: 0.4em;
    height: 2em;
  }

  button:first-of-type {
    @include grid($tailleColPortable, $nbColPortable, 5, 1);
    display: inline-block;
  }

  button:last-of-type {
    @include grid($tailleColPortable, $nbColPortable, 5, 0);
    display: inline-block;
  }

  footer {
    display: none;
  }
}

@media screen and (min-width: 40.063em) {
  $tailleColNav: 5.625%;
  $nbColNav: 16;

  figure {
    @include grid($tailleColNav, $nbColNav, 5, 0.5);

    img {
      margin-top: 4em;
      max-width: 100%;
      height: auto;
    }
  }

  article {
    div {
      margin-top: 4em;
      vertical-align: top;
      @include grid($tailleColNav, $nbColNav, 6, 0.5);

      fieldset:nth-of-type(2), fieldset:nth-of-type(3) {
        margin-top: 2em;
      }
    }
  }

  fieldset:last-of-type {
    a:nth-of-type(1) {
      @include grid($tailleColNav, $nbColNav, 4, 5);

      a:nth-of-type(2) {
        @include grid($tailleColNav, $nbColNav, 4, 1);
      }
    }
  }
}