@import "lib/import";
@import "lib/styles";



a {
  @include textAlign(center);
  text-decoration: none;
  color: #654532;
}

@media screen and (max-width: 40em) {

  // Variables pour la grille :
  $tailleColPortable: 7.5%;
  $nbColPortable: 12;

  br {
    display: none;
  }

  figure {
    @include textAlign(center);
    img {
      max-width: 80%;
      height: auto;
    }
  }

  section {
    div {
      @include grid($tailleColPortable, $nbColPortable, 10, 1);
    }

    fieldset:nth-of-type(1)
    {
      a {
        text-align: center;
      }
    }
  }

  /* Tous les a impairs sauf le premier */
  a:nth-of-type(odd):not(a:first-of-type) {
    @include grid($tailleColPortable, $nbColPortable, 4, 1);
  }

  a:nth-of-type(even) {
    @include grid($tailleColPortable, $nbColPortable, 4, 1);
  }
}

article {
  fieldset:last-of-type {
    //text-align: center;
    }
}

@media screen and (min-width: 40.063em) {

  $tailleColNav: 5.625%;
  $nbColNav: 16;

  figure {
    img {
      max-width: 100%;
      height: auto;
    }
  }

  figure {
    vertical-align: top;
    @include grid($tailleColNav, $nbColNav, 5, 0.5);
  }

  section {
    div {
      vertical-align: top;
      @include grid($tailleColNav, $nbColNav, 6, 0.5);
    }
  }

  fieldset:nth-of-type(even) {
    margin-top: 4em;
  }

}