@import "lib/import";
@import "lib/styles";

@media screen and (max-width: 40em) {

  // Variables pour la grille :
  $tailleColPortable: 7.5%;
  $nbColPortable: 12;

  //header
  //{
    //display: none;
  //}

  button {
    @include grid($tailleColPortable, $nbColPortable, 6, 3);
  }

  .annonceNav {
    width: 100%;
    height: 4em;
    @include border(0.2em, solid, #B94629);
    background-color: #b99e7f;
    @include textAlign(center);
    font-size: 1.1em;
    option {
      background-color: white;
    }
  }
}

@media screen and (min-width: 40.063em){

  $tailleColNav: 6.25%;
  $nbColNav: 16;

  select {
    height: 5em;
    background-color: #b99e7f;
    @include border(0.2em, solid, #B94629);
    margin-top: 4em;
    font-size: 1.0em;

    &:nth-of-type(1) {
      @include grid($tailleColNav, $nbColNav, 3, 4);
    }

    &:nth-of-type(2) {
      @include grid($tailleColNav, $nbColNav, 3, 2);
    }

    &:nth-of-type(3) {
      @include grid($tailleColNav, $nbColNav, 3, 4);
    }

    &:nth-of-type(4) {
      @include grid($tailleColNav, $nbColNav, 3, 2);
    }

    &:nth-of-type(5) {
      @include grid($tailleColNav, $nbColNav, 3, 4);
    }

    &:nth-of-type(6) {
      @include grid($tailleColNav, $nbColNav, 3, 2);
    }

    option
    {
      background-color: white;
    }
  }

  footer
  {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}