@import "lib/import";
@import "lib/styles";

/* Les images des annonces */
figure {
  img {
    max-width: 100%;
    height: auto;
  }
}

/********** AFFICHAGE VERSION PORTABLE **********/
@media screen and (max-width: 40em) {

  // Variables pour la grille :
  $tailleColMobile: 7.5%;
  $nbColMobile: 12;

  fieldset {
    @include grid($tailleColMobile, $nbColMobile, 10, 0.5);
  }

  .rechercheNav{
    display: none;
  }

  /* Première section (mobile) : la recherche */
  .rechercheMobile {
    height: 15em;
    overflow: auto;

    /* input : texte de recherche */
    input:first-of-type {
      @include grid($tailleColMobile, $nbColMobile, 10, 1);
      height: 2em;
      margin-top: 1em;
    }

    /* input : prix mini */
    input:nth-of-type(2) {
      @include grid($tailleColMobile, $nbColMobile, 4.5, 1);
      height: 2em;
    }

    /* input : prix maxi */
    input:nth-of-type(3) {
      @include grid($tailleColMobile, $nbColMobile, 4.2, 1);
      height: 2em;
    }

    /* h3 : 'Prix' */
    h3:first-of-type {
      @include grid($tailleColMobile, $nbColMobile, 12, 0);
      @include textAlign(center);
    }

    /* Bouton de recherche */
    button {
      @include grid($tailleColMobile, $nbColMobile, 10, 1);
      margin-top: 0.5em;
    }

    /* Select pour les catégories */
    select:first-of-type {
      @include grid($tailleColMobile, $nbColMobile, 4.5, 1);
      @include border(0.2em, solid, #B94629);
      height: 2em;
      margin-top: 1em;

      +br{
        display: none;
      }
    }

    /* Select pour les régions */
    select:nth-of-type(2) {
      @include grid($tailleColMobile, $nbColMobile, 4.5, 1);
      @include border(0.2em, solid, #B94629);
      height: 2em;
      margin-top: 1em;
    }
  }
}

/********** AFFICHAGE VERSION TABLETTE **********/
@media screen and (min-width: 40.063em) and (max-width: 64em){

  // Variables pour la grille :
  $tailleColMobile: 8%;
  $nbColMobile: 12;

  .rechercheNav{
    display: none;
  }

  fieldset {
    @include grid($tailleColMobile, $nbColMobile, 10, 1);
  }

  figure {
    img {
      @include grid($tailleColMobile, $nbColMobile, 10, 1);
      max-width: 70%;
      height: auto;
    }
  }

  /* input : texte de recherche */
  input:first-of-type {
    @include grid($tailleColMobile, $nbColMobile, 10, 1);
    height: 2.5em;
    margin-top: 1em;
  }

  /* input : prix mini */
  input:nth-of-type(2) {
    @include grid($tailleColMobile, $nbColMobile, 4.5, 1);
    height: 2.5em;
  }

  /* input : prix maxi */
  input:nth-of-type(3) {
    @include grid($tailleColMobile, $nbColMobile, 4.3, 1);
    height: 2.5em;
  }

  fieldset {
    @include grid($tailleColMobile, $nbColMobile, 10, 0.5);
  }

  select{
    height: 2.5em;
    margin-top: 2em;
    @include grid($tailleColMobile, $nbColMobile, 10, 1);
  }

  /* h3 : 'Prix' */
  select + h3 {
    @include grid($tailleColMobile, $nbColMobile, 12, 0);
    @include textAlign(center);
  }

  /* Bouton de recherche */
  button {
    height: 2.5em;
    @include grid($tailleColMobile, $nbColMobile, 10, 1);
    margin-top: 0.5em;
  }

  p{
    font-size: 1.1em;
  }

}

/********** AFFICHAGE VERSION NAVIGATEUR **********/
@media screen and (min-width: 64.063em){

  $tailleColNav: 5.625%;
  $nbColNav: 16;

  .rechercheMobile{
    display: none;
  }

  h4{
    white-space: nowrap;
  }

  label {
    @include grid($tailleColNav, $nbColNav, 4, 4.5);
  }

  fieldset:first-of-type{
    margin-top: 1em;
    @include grid($tailleColNav, $nbColNav, 9, 3.5);
  }

  fieldset{
    @include grid($tailleColNav, $nbColNav, 16, 3);
  }

  /* Input de recherche */
  input:first-of-type {
    @include grid($tailleColNav, $nbColNav, 3, 0);
  }

  input:nth-of-type(2) {
    @include grid($tailleColNav, $nbColNav, 3, 4.5);
  }

  input:nth-of-type(3) {
    @include grid($tailleColNav, $nbColNav, 3, 0.8);
  }

  select {
    margin-top: 2em;
    @include grid($tailleColNav, $nbColNav, 3, 0);
  }

  button{
    @include grid($tailleColNav, $nbColNav, 3.05, 6.5);
  }

  /* h3 : 'Prix' */
  select + h3 {
    @include grid($tailleColNav, $nbColNav, 16, 0);
    @include textAlign(center);
  }

  figure {
    @include grid($tailleColNav, $nbColNav, 5, 0.5);

    img {
      margin-top: 0.5em;
      max-width: 100%;
      height: auto;
    }
  }

  article {
    div {
      vertical-align: top;
      @include grid($tailleColNav, $nbColNav, 6, 0.5);
    }
  }

  fieldset:nth-of-type(even) {
    margin-top: 2em;
  }

  p {
    font-size: 1.1em;
  }
}